<template name="playMovieModal">

  <div class="modal fade" id="play-movie-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Exercise Video</h3>
        </div>
        <div class="modal-body">
          <iframe id="movie-iframe" frameborder="0" allowfullscreen></iframe> <!-- width="871" height="480" -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="play-movie-cancel" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</template>