.svg-progress-container{
  color: #7a7a7a !important;
}
.progress-text{
  font: normal 30px/40px Montserrat, Arial, Tahoma, sans-serif;
  color: #7a7a7a !important;
  -webkit-text-stroke: 0.001px transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.progress-circular-bar{
  fill: #87bd65;
}
.green-title{
  color: #87bd65;
}
