<template name="help">
	<h1>Hilfe zum Loginsystem CrossFit TB</h1>
	<h3>Erste Registrierung als User</h3>
		<img class="center-img" style="width:100%;" src="/images/Picture1.png"><br>
		<br><p>Klicken auf <b>New User?</b> um sich beim ersten Mal zu registrieren</p>
		<img class="center-img" style="width:60%;" src="/images/Picture2.png"><br>
		<br><p>Eingabe der geforderten Angaben. Bitte korrekter und vollständiger Name verwenden (keine Kosenamen) um die Administration der Abonnemente zu ermöglichen.
Anschliessend erhält man ein Bestätigungsmail auf die eingetragene E-Mail-Adresse. 
Das bei der ersten Anmeldung angegebene Passwort wird anschliessend für das Einloggen am Loginsystem benötigt.</p>
		<img class="center-img" style="width:60%;" src="/images/Picture3.png"><br>
		<br><p>Bitte den Link im Mail anklicken und somit die Anmeldung bestätigen:</p>
		<img class="center-img" style="width:100%;" src="/images/Picture4.png"><br>
		<br><img class="center-img" style="width:40%;" src="/images/Picture5.png"><br>
		<br><p>Klicke auf „Dismiss“. <br>
Falls nach 10 Minuten keine Verifizierungsmail eingetroffen ist, kann diese über „Resend verification link“ erneut angefordert werden (s. Bild „Email verification pending“).</p>

	<h3>Anmeldung als bereits registrierter User</h3>
		<img class="center-img" style="width:100%;" src="/images/Picture1.png"><br>
		<br><p>Klicken auf „Sign in“ um sich einzuloggen und somit für Trainings einschreiben zu können. </p>
		<img class="center-img" style="width:100%;" src="/images/Picture7.png"><br>
		<br><p>Die beim „New User?“ verwendete E-Mailadresse sowie das Passwort werden für das Login benötigt. 
Falls das Passwort vergessen wurde, kann dies über „Forgot your password? Reset Password“ zurückgesetzt werden.</p>

	<h3>Administration Loginsystem</h3>
		<br><p>Nach dem einloggen, verändert sich das Menü:</p>
		<img class="center-img" style="width:20%;" src="/images/Picture8.png"><br>
	<b>User Info</b>
		<img class="center-img" style="width:100%;" src="/images/Picture9.png"><br>
		<p>Im Bereich „User Info“ findet man Informationen zu seinem Abonnement. </p>
		<p>Achtung: Beim ersten Login sind noch keine Abonnementsinformationen hinterlegt. Diese können vom Administrator erst nach der Registrierung zugeteilt werden. Damit man sich trotzdem bereits für Trainings eintragen kann, sind bis zu drei Trainings buchbar. Diese werden abgerechnet und bei Hinterlegung des Vertrags ausgeglichen. Dasselbe gilt bei Ablauf eines Abonnements!</p>
		<p><b> Subscription Info:</b></p>
		<p>12er AbonnentInnen sehen ihre noch verfügbaren Eintritte. <br>
		Beim Halbjahres- und Jahresabonnement ist die restliche Laufzeitdauer in Tagen ersichtlich.</p>
		<b>My Events:</b>
		<p>Alle gebuchten Trainings inklusive Warteliste werden hier aufgelistet</p>
		<img class="center-img" style="width:60%;" src="/images/Picture10.png"><br>
		<b>Purchase Entries:</b>
		<p>Dieser Button ist noch inaktiv.</p><br>
		<p>Unter User Info kann der Name und die E-Mailadresse geändert oder der Account gelöscht werden:</p> 
		<img class="center-img" style="width:60%;" src="/images/Picture11.png"><br>
	<b>Change Password</b>
		Das Passwort kann auch im drop-down menu unter dem User Logo geändert werden.
		<img class="center-img" style="width:20%;" src="/images/Picture8.png"><br>
	<b>Sign out</b>
		Abmelden und ausloggen. Normalerweise werden die Login Daten gespeichert, wenn der Browser wieder geöffnet wird. 

	<h3>Teilnahme an Lektionen</h3>
		<p> Der Kalender bietet verschiedene Ansichtmöglichkeiten: Liste, Tag, Woche, Monat und heute. 
		Mit den Pfeilen nach links und rechts kann im Kalender navigiert werden.</p>
		<img class="center-img" style="width:100%;" src="/images/Picture12.png"><br>
		<p>Pro Stunde sind die Anzahl Teilnehmer ersichtlich (z.B. 0 of 12).</p>
	<b>Anmeldung</b>
		Mit Klick auf die gewünschte Stunde im Kalender öffnet sich ein neues Fenster „Event Details“:
		<img class="center-img" style="width:60%;" src="/images/Picture13.png"><br>
		<p>Mit Klick auf „Participate“ melde ich mich für die ausgewählte Stunde an. Folgende Meldung erscheint bei erfolgreicher Registrierung:</p>
		<img class="center-img" style="width:30%;" src="/images/Picture14.png"><br>
		<p>Zudem wird die Stunde im Kalender farbig umrandet (Listenansicht violetter Punkt):</p> 
		<img class="center-img" style="width:50%;" src="/images/Picture15.png"><br>
		<p>Mit Klick auf die gewünschte Stunde im Kalender öffnet sich ein neues Fenster „Event Details“. Im Register „Participants“ sehe ich alle für das Training eingetragenen Personen:</p>
		<img class="center-img" style="width:50%;" src="/images/Picture16.png"><br>
	<b>Abmeldung</b>
		<p>Mit Klick auf die Stunde, von welcher ich mich austragen möchte, öffnet sich ein neues Fenster „Event Details“.</p>
		<img class="center-img" style="width:50%;" src="/images/Picture17.png"><br>
		<p>Mit Klick auf „Unsubscribe“ melde ich mich vom Training ab. Folgende Meldung erscheint bei erfolgreicher Abmeldung:</p>
		<img class="center-img" style="width:30%;" src="/images/Picture18.png"><br>
		<p>Die Stunde ist im Kalender nicht mehr farbig umrandet:</p>
		<img class="center-img" style="width:60%;" src="/images/Picture19.png"><br>
		<p style="color:red;">ACHTUNG: Das Austragen ist nur bis 2 Stunden vor dem Training möglich! </p>
	<b>Warteliste</b>
		<p>Falls eine Stunde bereits ausgebucht ist, hat man die Möglichkeit mittels Klick auf die gewünschte Stunde sich in der Warteliste einzutragen.</p> 
		<img class="center-img" style="width:60%;" src="/images/Picture20.png"><br>
		<p>Im Kalender werden diese Stunden blau umrandet (Listenansicht blauer Punkt). </p> 
		<img class="center-img" style="width:40%;" src="/images/Picture21.png"><br>
		<p>Es können sich mehrere Personen in der Warteliste eintragen. Diese führt eine Reihenfolge. Sobald sich ein Teilnehmer von der Stunde abmeldet, rutscht der erste auf der Warteliste nach und erhält per E-Mail eine Information. Eine nochmalige Anmeldung für dieses Training ist nicht erforderlich.</p> <br>
		
		<p style="color:red;"> Leute, die von der Warteliste in die Lektion nachrutschen, werden per Email (bis mind. 2 Stunden vor der Lektion) benachrichtigt und sind anschliessend automatisch eingetragen.</p> <br><br>


</template>