<template name="calendar">
  {{> addEditEventModal }}
  {{#if isListView}}
    <button id="calendar-button" type="button" class="btn btn-default pull-right">Calendar</button>
    <br>
    {{#each eventListKeys}}
      <h3>{{this}}</h3>
      {{> eventsPerDay day=this}}
    {{/each}}
    {{#if moreResults}}
      <br>
      <div id="showMoreResults" style="margin-left: 25px;">
          <span class="loading">Loading...</span>
      </div>
    {{/if}}
  {{/if}} <!-- not list view -->
  {{#HammerTouchArea gestureMap=templateGestures}}
    <div class="swipe-test">
      <div id="events-calendar"></div>
    </div>
  {{/HammerTouchArea}}
</template>

<!-- list view details -->
<template name='eventsPerDay'>
  {{#each eventsPerDay}}
    {{#if isPast this}}
      <a id="events-list-item" href="#" class="list-group-item" style="background-color:LightGray;"><b>{{{participating this}}}{{{waiting this}}}{{startTime start}} - {{title}}</b> <p>{{participantsCount}} of {{maxParticipants}} participants</p></a>
    {{else}}
      <a id="events-list-item" href="#" class="list-group-item"><b>{{{participating this}}}{{{waiting this}}}{{startTime start}} - {{title}}</b> <p>{{participantsCount}} of {{maxParticipants}} participants</p></a>
    {{/if}}
  {{/each}}
</template>