<template name="editExerciseModal">

  <div class="modal fade" id="edit-exercise-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Edit Exercise</h3>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Exercise Details</h3>
            </div>
            <div class="panel-body">
              {{> quickForm id="edit-exericises-form" collection="Exercises" doc=currentExercise type="update" fields="name,type,videoId,description"}}
            </div>
          </div>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Delete Exercise</h3>
            </div>
            <div class="panel-body">
              <button class="btn btn-danger" id="delete-exercise-button">Delete Exercise</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="edit-exercise-cancel" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</template>