<template name="deleteUserModal">
  <div class="modal fade" id="delete-user-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Confirm Deletion</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your User? - This can not be undone!</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="users-delete-modal-yes" class="btn btn-danger" data-dismiss="modal">YES</button>
          <button type="button" id="users-delete-modal-no" class="btn btn-default" data-dismiss="modal">NO</button>
        </div>
      </div>
    </div>
  </div>
</template>