<template name="purchaseModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Purchase Entries</h3>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Purchase Entries for Tom's box</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
                <h3>Here you will soon be able to purchase entries to Tom's Box.</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>